<div class="container">
  <img
    class="meri"
    src="../../assets/img/Screenshot from 2022-06-09 13-03-05.png"
    style="width: 100vw"
  />
  <div class="cont">
    <p class="m">University of Washington</p>
    <p class="text2">
      Center for West European Studies, The Henry M. Jackson School of
      International Studies, University of Washington, Box 353650, Seattle, WA
      98195-3650
    </p>
    <p>
      Room 203B Thomson Hall | Phone: (206) 543-1675 | Email: cweseuc@uw.edu
    </p>
    <p>Connect with us:</p>
    <div class="wrap">
      <a class="hover-fx"><i class="fa-brands fa-facebook"></i></a>
      <a class="hover-fx"><i class="fa-solid fa-envelope"></i></a>
      <a class="hover-fx"><i class="fa-brands fa-twitter"></i></a>
      <a class="hover-fx"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p>
      The Jackson School is a proud member of the Association of Professional
      Schools of International Affairs.
    </p>
    <p>
      © 2022 Henry M. Jackson School of International Studies, University of
      Washington | Seattle, WA
    </p>
  </div>
</div>
