nav{
    margin-left: 20px;
    margin-top:40px;
    .nav-link{
        color: #316BA2;
        font-weight: bold;
        text-transform: uppercase;
    
    }
   
  
}
li:hover{
    border-left: 6px solid rgb(10, 84, 168);
    height: 50px;
    
}
