<div class="carr">
  <div
    id="carouselExampleIndicators"
    class="carousel slide w-50"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators w-50">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/clean.jpg" class="d-block w-50" alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/CU Campus Clipart-1.jpg"
          class="d-block w-50"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/EN V Co-funded by_PANTONE.png"
          class="d-block w-50"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<iframe
  src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FCaucasusUniversity%2Fphotos%2Fa.141892722545664%2F5144487782286108%2F%3Ftype%3D3&show_text=true&width=500"
  width="500"
  height="341"
  style="border: none; overflow: hidden"
  scrolling="no"
  frameborder="0"
  allowfullscreen="true"
  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
></iframe>
