<div class="time">
  <H2>{{ "news-h2" | translate }}UW Students at Schuman Challenge 2022</H2>
  <hr />
  <p>MAY 26, 2022</p>
</div>

<div class="cont">
  <img
    src="../../assets/img/Screenshot from 2022-06-09 13-03-05.png"
    alt=""
    srcset=""
  />
  <div class="txt">
    <p>
      {{ "news-p" | translate }}
      The Center for West European Studies and the EU Center are happy to
      announce<br />
      that we had a team of students compete in the Schuman Challenge this
      year.<br />
      Students Ashlyn Nazari, Henry Moe, and Sienna Hartvigson were the
      students<br />
      on UW’s team.The Schuman Challenge is an annual competition supported by
      the<br />
      EU delegation to the
    </p>
    <button type="button" class="btn btn-outline-primary">
      {{ "news-button" | translate }}read more
    </button>
  </div>
</div>
