.cont{
    display: flex;
    margin-top: 40px;

}
img{
   
    width: 20vw;
    margin-left: 20vw;

}
.time{
    margin-left: 20vw;
    margin-top: 20px;
    h2{
        color: #316BA2;
    cursor: pointer;
    }
    hr{
        border: 1px solid rgb(10, 9, 9);
  width:150px;
    }
}
.txt{
    margin-left: 20px;
  
}